.bg-atas {
    background-color: #343a40 !important;
    /*background-color: #fcb549 !important;*/
}

/*.sidebar {
    background-color: #fcb549 !important;
}*/

/*@media screen and (max-width: 767px) {
    li.paginate_button.previous {
        display: inline;
    }
 
    li.paginate_button.next {
        display: inline;
    }
 
    li.paginate_button {
        display: none;
    }
}*/

ul.pagination {
	flex-wrap: wrap;
}

.loading-spinner{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:9999;
    background:url("../images/loading2.gif") no-repeat center center rgba(0,0,0,0.25);
    background-size: 100px;
}