.bg-atas {
    background-color: #343a40 !important;
    /*background-color: #fcb549 !important;*/
}

/*.sidebar {
    background-color: #fcb549 !important;
}*/

/*@media screen and (max-width: 767px) {
    li.paginate_button.previous {
        display: inline;
    }
 
    li.paginate_button.next {
        display: inline;
    }
 
    li.paginate_button {
        display: none;
    }
}*/

ul.pagination {
	flex-wrap: wrap;
}